h1, h2{
    font-family:monospace;
    font-weight: 600 !important;
}
span{
    font-family:'Courier New', Courier, monospace ;
    font-weight: 600 !important;
    font-size: 16px;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}
body .header{
    height: 60px;
    width: 100%;
    padding: 7.5px 10px;
    display: flex;
    justify-content: flex-start;
    align-content: center !important;
    column-gap: 5px;
    box-shadow: 0px 0px 119px -10px rgba(92,92,92,1);
    flex-wrap: wrap;
}
body .header div{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
body .header div h1 {
    font-size:20px;
    height: 12px;
}
body .header img{
    width: 1.8rem;
    height: 1.8rem;
}
body .body{
    width: 100%;
    padding: 7.5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 50px;
}
body .body .company_name{
     display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-shadow: 0px 0px 72px -10px rgba(0,0,0,0.38);
    width: 100%;
    padding: 20px 20px;
    box-sizing: border-box;
    border-radius: 20px;
}
body .body .company_name h2{
    font-size: 20px;
    margin: auto;
}
body .body .close_value_plot{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-shadow: 0px 0px 72px -10px rgba(0,0,0,0.38);
    width: 100%;
    padding: 20px 20px;
    box-sizing: border-box;
    border-radius: 20px;
}
body .body .close_value_plot img{
    margin:auto;
}
body .body .stock_rsi_plot{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-shadow: 0px 0px 72px -10px rgba(0,0,0,0.38);
    width: 100%;
    padding: 20px 20px;
    box-sizing: border-box;
    border-radius: 20px;
}
body .body .stock_rsi_plot img{
    margin:auto;
}
body .body .stock_bollinger_bands_plot{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-shadow: 0px 0px 72px -10px rgba(0,0,0,0.38);
    width: 100%;
    padding: 20px 20px;
    box-sizing: border-box;
    border-radius: 20px;
}
body .body .stock_bollinger_bands_plot img{
    margin:auto;
}
body .body .input-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-shadow: 0px 0px 72px -10px rgba(0,0,0,0.38);
    width: 100%;
    padding: 20px 20px;
    box-sizing: border-box;
    border-radius: 20px;
}
body .body #result{
    width: 100%;
    padding: 7.5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 50px;
}
body .body #result .stock_analysis_with_dt{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    box-shadow: 0px 0px 72px -10px rgba(0,0,0,0.38);
    width: 100%;
    padding: 20px 20px;
    box-sizing: border-box;
    border-radius: 20px;
}
body .body #result .stock_analysis_with_dt div pre{
    font-size: 12px;
}
body .body #result .stock_analysis_with_dt img{
    width: 50%;
}
body .body #result .stock_analysis_with_knn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    box-shadow: 0px 0px 72px -10px rgba(0,0,0,0.38);
    width: 100%;
    padding: 30px 30px;
    box-sizing: border-box;
    border-radius: 20px;
}
body .body #result .stock_analysis_with_knn div pre{
    font-size: 12px;
}
body .body #result .stock_analysis_with_knn img {
    width: 50%;
}
body input[type="text"] {
            width: 200px;
            padding: 10px;
            font-size: 16px;
            border: 2px solid #ccc;
            border-radius: 5px;
            outline: none;
            transition: border-color 0.3s ease;
        }

body input[type="text"]:focus {
            border-color: #007bff;
        }

body input[type="text"]::placeholder {
            color: #aaa;
            font-style: italic;
}

