<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Analysis</title>
    <link rel="icon" href="/static/Images/stock-market.jpg" type="image/icon type">
    <link rel="stylesheet" href="../static/CSS/stock.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<body>
    <div class="header">
       <img src="/static/Images/stock-market.jpg">
        <div>
            <h1>Stock Market Analysis</h1>
        </div>
    </div>
    <div class="body">
        <input type="hidden" id="stockName" name="stockName" value="{{ stockName }}">
        <div class="company_name">
            <h2>{{ stock }}</h2>
        </div>
        <div class="close_value_plot">
        <span>This graph shows the history of the closing value of {{ stock }} stock.</span>
        <img src="{{ close_plot_url }}" alt="Close Price Plot" class="img-fluid" />
        </div>
        <div class="stock_rsi_plot">
        <span>The Relative Strength Index (RSI) is a momentum oscillator used in technical analysis to measure the speed and change of price movements of a financial asset. It oscillates between 0 and 100, with values above 70 typically signaling that an asset may be overbought, while values below 30 suggest it may be oversold. Traders use RSI to identify potential reversal points, confirm trends, or spot divergences between the indicator and price action, helping to make informed decisions in both bullish and bearish markets.</span>
        <img src="{{ rsi_plot_url }}" alt="RSI Plot" class="img-fluid" />
        </div>
        <div class="stock_bollinger_bands_plot">
        <span>Bollinger Bands are a technical analysis tool that consists of three lines plotted on a price chart: a simple moving average (SMA) in the middle, and two standard deviation bands above and below the SMA. These bands expand and contract based on market volatility, providing a dynamic range for price action. When prices touch or break the upper band, it may signal overbought conditions, while interaction with the lower band can indicate oversold conditions. Bollinger Bands are used to identify trends, volatility, and potential reversal points, aiding traders in making strategic decisions.</span>
        <img src="{{ bollinger_band_plot_url }}" alt="Bollinger Band Plot" class="img-fluid" />
        </div>
        <div class="input-container">
        <form id="inputForm">
        <span> Enter the test sample size:</span>
        <input type="text"  id="userInput" placeholder="0.x">
        <button type="button" class="btn btn-outline-secondary" onclick="sendValue()">Submit</button>
        </form>
        </div>
        <div id="result"></div>
    </div>
    <script src="/static/JS/testSize.js"></script>
</body>
</html>
